

  .NavigationItem{
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    width: auto;
    align-items: center;
  
  }
  
  .NavigationItem a{
    color: #888;
    height: 100%;
    width: auto;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a.active, 
  .NavigationItem a:active{
    background-color: #8f5c2c;
    border-bottom: 4px solid #111;
    color: #fff;
  }

