.Like{
  background-color: #EEE;
  display: block;
  position: absolute;
  top: 0.5%;
  left: 1%;
  height: 40px;
  width: 40px;
  border: 2px solid #EEE;
  border-radius: 50%;
  cursor: pointer;
  z-index: 50px;
}

.heart{
  margin: 6px 3px;
}
