.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 90%;
  height: 70vh;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 0%;
  top: 15%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.Modal img{
  padding: 15px 15px 0px 15px;
  max-width: 500px;
  height: 90%;
}
@media (min-width: 600px) {
  .Modal {
      width: 100%;
      left: 0;
  }
}