.home-main{
    height: 100vh;
    position: relative;
    top: -100px;
    background-image: url('../../assets/gallerybg.png');
    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc{
    color: #111;
    padding: 10px;
    text-align: center;
}
.red{
    color: #ff0000;
}
