
.search-form input:only-of-type {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}

.search-button {
  float: right;
  cursor: pointer;
  margin-right: -20px;
  margin-top: 20px;
  padding: 10px 5px;
}

.icn-search {
  margin: 20px;
  font-weight: 700;
}

